body{
    background-image: url(./Знімок\ екрана\ 2024-11-14\ 170510.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    width: 225px;
    margin: auto;
    margin-top: 160px;
    padding: 20px;
    background-color: #fff;
}
.title{
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
}
.text{
    text-align: center;
    font-family: sans-serif;
}
.login{
    margin-top: 16px;
    margin-bottom: 16px;
}

.login, .password{
    width: 100%;
    padding: 18.5px 14px;
    border: rgb(176, 176, 176) 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.button{
    background-color: #3f51b5;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}